# Virtuelle Umgebung
venv/
on-the-run-python-env/

# Python-Cache
__pycache__/
*.py[cod]

# Django-Migrations
*/migrations/

# Umgebungsvariablen
.env

# IDE-/Editor-Dateien
*.swp
*.sublime*
.idea/
.vscode/

# Log- und Datenbankdateien
*.log
*.sqlite3

# Node.js (falls JS genutzt wird)
node_modules/
