services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ontherun_db
      POSTGRES_USER: ontherun_user
      POSTGRES_PASSWORD: ontherun_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  django:
    build: .
    image: on-the-run-django:latest
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    image: on-the-run-web:latest
    ports:
      - "8080:8080"
    depends_on:
      - django

volumes:
  postgres_data: